.RecipeDirection {
    padding: 4rem;
    padding-bottom: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.RecipeDirectionText {
    font-size: 1.5rem;
    text-align: center;
    width: 90%;
    margin-bottom: 3rem;
    color: #968B87;
}

.RecipeAuthor {
    font-weight: 700;
}

.RecipeAuthor::before {
    content: ' ';
}

.RecipeAuthorLink {
    text-decoration: none;
}

.Heading {
    font-size: 1.8rem;
    font-weight: 600;
    color: #F59A83;
    text-transform: uppercase;
    margin-bottom: 2.5rem;
    text-align: center;
    transform: skewY(-3deg);
}
